@import "../../Assets/variables.scss";

$lineLoaderHeight: 4px;
$loaderHeight: 50px;
$loaderWidth: 50px;
$loaderMargin: 10px;

.lobster-component.loader-component {
    @keyframes loaderEffect {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    &.circle-loader, &.tripleball-loader {
        animation: 1500ms loaderEffect linear infinite;
    }

    &.circle-loader::after {
        animation: 0.5s loaderEffect linear infinite;
    }

    &.circle-loader {
        height: $loaderHeight;
        width: $loaderWidth;
        border-radius: 100%;
        border-top: 2px solid $mainColor;
        margin: $loaderMargin;
        position: relative;

        &::after {
            content: '';
            height: calc(#{$loaderHeight} / 2);
            width: calc(#{$loaderWidth} / 2);
            border-radius: 100%;
            border-top: 2px solid $mainColor;
            top: calc(#{$loaderHeight} / 4);
            left: calc(#{$loaderWidth} / 4);
            position: absolute;
        }

        &.secondary-color-loader {
            border-top: 2px solid $secondaryColor;
        }

        &.cancel-color-loader {
            border-top: 2px solid $cancelColor;
        }

        &.success-color-loader {
            border-top: 2px solid $successColor;
        }
    }

    &.tripleball-loader {
        position: relative;
        width: $loaderWidth;
        height: $loaderHeight;
        margin: $loaderMargin;

        & > .first-ball, & > .second-ball, & > .third-ball {
            background-color: $mainColor;
            border-radius: 100%;
            height: calc(#{$loaderHeight} / 2.5);
            width: calc(#{$loaderWidth} / 2.5);
            position: absolute;
        }

        &.secondary-color-loader {
            & > .first-ball, & > .second-ball, & > .third-ball {
                background-color: $secondaryColor;
            }
        }

        &.cancel-color-loader {
            & > .first-ball, & > .second-ball, & > .third-ball {
                background-color: $cancelColor;
            }
        }

        &.success-color-loader {
            & > .first-ball, & > .second-ball, & > .third-ball {
                background-color: $successColor;
            }
        }

        & > .first-ball {
            top: 0;
            left: calc(50% - #{$loaderMargin});
        }

        & > .second-ball {
            left: 0;
            bottom: 0;
        }

        & > .third-ball {
            bottom: 0;
            right: 0;
        }
    }

    &.customimage-loader {
        @keyframes loaderCustomEffect {
            from {
                transform: rotate(0deg);
            }
    
            40% {
                transform: rotate(360deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        width: $loaderWidth;
        height: $loaderHeight;
        margin: $loaderMargin;
        
        animation: 1200ms loaderCustomEffect linear infinite;

        & > img {
            height: 100%;
            widows: 100%;    
        }
    }

    &.progressline-loader {
        width: 100%;
        height: $lineLoaderHeight;
        background-color: $mainColor;
        position: relative;
        overflow: hidden;

        &.secondary-color-loader {
            background-color: $secondaryColor;
        }

        &.cancel-color-loader {
            background-color: $cancelColor;
        }

        &.success-color-loader {
            background-color: $successColor;
        }

        @keyframes progresslineEffect {
            from {
                left: -10%;
            }

            to {
                left: 100%;
            }
        }

        &:after {
            content: '';
            width: 10%;
            height: $lineLoaderHeight;
            background-color: rgba(255, 255, 255, 0.35);
            position: absolute;
            left: -10%;
            z-index: 2;
            animation: 2s progresslineEffect linear infinite;
        }
    }
}
