@import "./../../Assets/variables.scss";

.lobster-component.button-wrapper {
    min-height: $fieldHeight;
    max-height: $fieldHeight;
    max-width: $maxButtonWidth;
    overflow: hidden;
    border-radius: $borderRadius;
    cursor: pointer;
    display: inline-block;
    padding: $paddingM;
    text-align: center;
    margin: $marginM;
    transition: $transition;
    position: relative;

    & > .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > svg {
            padding-right: 10px;
            padding-bottom: 1px;
        }

        &.icon-end {
            & > svg {
                padding-right: initial;
                padding-left: 10px;
            }
            flex-direction: row-reverse;
        }

        & > a {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: $paddingLeftM;
        bottom: 5px;
        width: 0;
        height: 2px;
        transition: $transition
    }

    &:not(.icon-button) {
        padding: $paddingL;

        &::after {
            left: $paddingLeftL;
        }
    }

    &.primary-button {
        &:not(.border-button):not(.simple-button) {
            color: white;
            background-color: $mainColor;
            border: 2px solid $mainColor;
            &::after {
                background-color: white;
            }
        }

        &.border-button, &.simple-button {
            color: $mainColor;
            border: 2px solid $mainColor;
            &::after {
                background-color: $mainColor;
            }
        }
    }

    &.secondary-button {
        &:not(.border-button):not(.simple-button) {
            color: white;
            background-color: $secondaryColor;
            border: 2px solid $secondaryColor;
            &::after {
                background-color: white;
            }
        }

        &.border-button, &.simple-button {
            color: $secondaryColor;
            border: 2px solid $secondaryColor;
            &::after {
                background-color: $secondaryColor;
            }
        }
    }

    &.cancel-button {
        &:not(.border-button):not(.simple-button) {
            color: white;
            background-color: $cancelColor;
            border: 2px solid $cancelColor;
            &::after {
                background-color: white;
            }
        }

        &.border-button, &.simple-button {
            color: $cancelColor;
            border: 2px solid $cancelColor;
            &::after {
                background-color: $cancelColor;
            }
        }
    }

    &.success-button {
        &:not(.border-button):not(.simple-button) {
            color: white;
            background-color: $successColor;
            border: 2px solid $successColor;
            &::after {
                background-color: white;
            }
        }

        &.border-button, &.simple-button {
            color: $successColor;
            border: 2px solid $successColor;
            &::after {
                background-color: $successColor;
            }
        }
    }

    &.white-button {
        color: white;
        
        &::after {
            background-color: white;
        }
    }

    &.simple-button {
        background-color: transparent !important;
        border: 2px solid transparent !important;
    }

    &.disabled-button {
        cursor: not-allowed;

        &:not(.border-button) {
            color: $disabledTextColor !important;
            background-color: $disabledColor !important;
            border: 2px solid $disabledColor !important;
        }

        &.border-button {
            color: $disabledColor;
            border: 2px solid $disabledColor;
        }
    }

    &:hover {
        &.move-effect {
            margin: 5px 5px 15px 5px;
        }

        &.icon-button {
            &.underline-effect::after {
                width: calc(100% - calc(2 * #{$paddingLeftM}));
            }
        }

        &:not(.icon-button) {
            &.underline-effect::after {
                width: calc(100% - calc(2 * #{$paddingLeftL}));
            }
        }
    }
}
