@import "../../Assets/variables.scss";

.lobster-component.textarea-wrapper {
    position: relative;
    display: inline-block;

    textarea {
        padding: $paddingS;
        border-radius: $borderRadius;
        background-color: $neutralColor;
        display: inline-block;
        position: relative;
        margin: $marginM;
        border: none;
        box-shadow: none;
        box-sizing: unset;
        font-size: $fontSizeM;
        font-family: $fontFamily;
        min-height: #{$fieldHeight + 4px};
        transition: 200ms ease-in-out background-color box-shadow border;
        border: 1px solid $neutralColor;

        &:focus {
            outline: none;
            border: 1px solid $focusColor;
            box-shadow: 0px 0px 4px 0px $focusColor;
            background-color: white;

            &::placeholder {
                visibility: visible;
            }
        }
    }

    &.textarea-disabled {
        & > textarea {
            background-color: $neutralColor;
            cursor: not-allowed;
            resize: none;
        }
    }
}

.textarea-wrapper-bordered {
    & > textarea {
        background-color: initial;
        border: 1px solid $neutralColor;
        padding: $paddingSWithoutBorder;

        &:focus {
            padding: $paddingSWithoutBorder;
        }
    }
}