@import "../../Assets/variables.scss";

.lobster-component.listitem-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $paddingLHorizontal;
    border-bottom: 1px solid black;
    width: calc(100% - #{$paddingLHorizontalWidth} * 2 - 20px);
    cursor: pointer;
    position: relative;
    height: $fieldHeight;
    background-color: white;
    transition: $transition;

    &.listitem-component-icon {
        padding-left: calc(#{$paddingRightM} * 3.5);
        width: calc(100% - #{$paddingRightM} * 3.5 - #{$paddingLHorizontalWidth} - 10px);
    }

    &:hover {
        background-color: $neutralColor;
    }

    & > .listitem-icon {
        height: 100%;
        padding-right: $paddingRightM;
        width: 20px;
        position: absolute;
        left: $paddingRightM;
        top: 0;
    }

    & > .listitem-label {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}