@import "./../../Assets/variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

$fontFamily: "Nunito";

body {
    margin: 0;
    padding: 0;
}

.lobster-component.toast-component {
    font-family: $fontFamily, sans-serif;
}

.lobster-demo {
    font-family: $fontFamily, sans-serif;

    textarea {
        font-family: $fontFamily, sans-serif;
    }

    & > .row-container,
    & > .column-container,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5 {
        margin: 0 30px 30px 30px;
        padding: 0;
    }

    .lobster-component {
        font-family: $fontFamily, sans-serif;
        font-size: $fontSizeM;
    }

    .row-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .expanded-center {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .relative-container {
        position: relative;
    }

    .no-margin {
        margin: 0;
    }

    .no-padding {
        padding: 0;
    }
}
