@import "../../Assets/variables.scss";

.lobster-component.toast-component {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    width: fit-content;
    padding: $paddingM;
    background-color: white;
    border-radius: $borderRadius;
    box-shadow: 0px 0px 4px 0px $neutralAccentColor;
    padding-left: calc(#{$paddingLeftM} + 6px);
    position: relative;
    max-width: 500px;

    &::after {
        content: '';
        position: absolute;
        left: 5px;
        width: 4px;
        top: 4.5px;
        height: calc(100% - 9px);
        border-radius: 25px;
    }

    &.information-toast {
        & > svg {
            color: $informationColor;
        }

        &::after {
            background-color: $informationColor;
        }
    }

    &.warning-toast {
        & > svg {
            color: $warningColor;
        }

        &::after {
            background-color: $warningColor;
        }
    }

    &.error-toast {
        & > svg {
            color: $errorColor;
        }

        &::after {
            background-color: $errorColor;
        }
    }

    &.success-toast {
        & > svg {
            color: $successColor;
        }

        &::after {
            background-color: $successColor;
        }
    }

    & > .toast-container {
        display: flex;
        flex-direction: column;

        & > .toast-title {
            font-weight: bold;
            font-size: 1em;
        }

        & > .toast-subtitle {
            font-size: 0.95em;
            color: $neutralAccentColor;
        }
    }

    & > svg:not(.toast-cancel) { 
        height: 100%;
        width: 22.5px;
        padding-right: $paddingRightM;
    }

    & > svg.toast-cancel {
        padding: 0 15.5px 0 7.5px;
        color: $disposeColor;
        cursor: pointer;
        &:hover {
            color: $neutralAccentColor;
        }
    }
}