@import "./../../Assets/variables";

.lobster-component.textinput-wrapper {
    position: relative;
    display: inline-block;

    .textinput-errortext {
        display: none;
        color: black;

        &.textinput-errortext-show {
            display: block;
            position: absolute;
            z-index: 90001;
            top: 45px;
            right: 3px;
            background-color: white;
            border: 1px solid #b1b1b1;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.19);

            &:after {
                content: '';
                border: 7px solid transparent;
                border-bottom: 7px solid white;
                z-index: 90002;
                top: -13px;
                position: absolute;
                right: 16px;
                font-size: calc(#{$fontSizeM} - 1px);
            }
            
            &:before {
                content: '';
                border: 7px solid transparent;
                border-bottom: 7px solid #b1b1b1;
                top: -14.5px;
                position: absolute;
                right: 16px;
            }
        }
    }

    .textinput-label {
        position: absolute;
        left: 20px;
        top: 22px;
        z-index: 9001;
        user-select: none;
        transition: 200ms ease-in-out;
        cursor: text;
        max-width: calc(100% - 40px);
        max-height: $fontSizeM;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }

    .textinput-label-active {
        font-size: 12px;
        top: 14px;
        color: $mainAccentColor;
    }

    .textinput-label-focus {
        color: $focusColor !important;
    }

    &.textinput-success {
        & > input {
            border: 1px solid $successColor;
            box-shadow: 0px 0px 4px 0px $successColor;
        }
    }

    input {
        padding: $paddingS;
        border-radius: $borderRadius;
        background-color: $neutralColor;
        display: inline-block;
        position: relative;
        margin: $marginM;
        border: none;
        box-shadow: none;
        box-sizing: unset;
        font-size: $fontSizeM;
        font-family: $fontFamily;
        max-height: #{$fieldHeight + 4px};
        min-height: #{$fieldHeight + 4px};
        transition: 200ms ease-in-out;
        border: 1px solid $neutralColor;

        &::placeholder {
            visibility: hidden;
            transition: 100ms all;
        }

        &.textinput-filled {
            padding-top: 15px;
            padding-bottom: 3px;
        }

        &:focus {
            outline: none;
            padding-top: 15px;
            padding-bottom: 3px;
            border: 1px solid $focusColor;
            box-shadow: 0px 0px 4px 0px $focusColor;
            background-color: white;

            &::placeholder {
                visibility: visible;
            }
        }
    }

    &.textinput-disabled {
        & > input {
            background-color: $neutralColor;
            cursor: not-allowed;
        }

        & > .textinput-label {
            cursor: not-allowed;
            color: $disabledColor;
        }
    }

    &.textinput-error {

        & > .textinput-label-active {
            color: $errorColor !important;
        }

        & > input {
            border: 1px solid $errorColor;
            box-shadow: 0px 0px 4px 0px $errorColor;
        }
    }

    & > .error-information, & > .success-icon, & > .lock-icon {
        position: absolute;
        right: 6px;
        border-radius: 5px;
        top: 11px;
        z-index: 1;
        padding: 13.5px;
        background-color: $neutralColor;
        transition: 200ms ease-in-out;
        color: black;

        &.error-information {
            color: $errorColor;
        }

        &.success-icon {
            color: $successColor;
        }

        &.lock-icon-focus {
            background-color: white;
        }

        &.success-information-focus, &.error-information-focus {
            opacity: 0;
            background-color: white;
        }
    }
}

.lobster-component.textinput-wrapper-bordered {

    .textinput-label {
        color: $neutralAccentColor;
    }

    .textinput-label-active {
        top: 1.75px;
        left: 14px;
        background-color: white;
        padding: 0 7.5px;
    }

    & > input {
        background-color: initial;
        border: 1px solid $neutralColor;
        padding: $paddingSWithoutBorder;

        &:focus {
            padding: $paddingSWithoutBorder;
        }

        &.textinput-filled {
            padding-top: 9px;
            padding-bottom: 9px;
        }
    }

    & > .error-information, & > .success-icon, & > .lock-icon {
        background-color: white;
    }
}