$mainColor: #1C448E;
$secondaryColor: #FDCF30;
$mainAccentColor: #747474;
$secondaryAccentColor: #CEC288;
$tertiaryColor: #DBFE87;
$cancelColor: #EE5E68;
$successColor: #5C946E;
$neutralColor: #DADADA;
$neutralAccentColor: #8A8A8A;
$disabledColor: #989898;
$disabledTextColor: #E0E0E0;
$focusColor: #3096D2;