$mainColor: #1C448E;
$secondaryColor: #fdcf30;
$mainAccentColor: #747474;
$secondaryAccentColor: #CEC288;
$tertiaryColor: #DBFE87;
$cancelColor: #EE5E68;
$neutralColor: #dadada;
$neutralAccentColor: #8a8a8a;
$disabledColor: #989898;
$disabledTextColor: #e0e0e0;