@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.lobster-component {
    font-family: "Nunito", sans-serif;
}

$borderRadius: 5px;
$paddingM: 10px 15px;
$paddingL: 10px 30px;
$paddingS: 9px 15px;
$paddingLHorizontal: 15px 25px;
$paddingSWithoutBorder: 9px 15px;
$horizontalNavbarPadding: 5px 10px;
$verticalNavbarPadding: 5px 10px;
$horizontalNavbarHorizontalPadding: 20px;
$verticalNavbarVerticalPadding: 20px;
$fontSizeM: 15px;
$marginM: 10px 5px;
$paddingRightM: 15px;
$paddingLHorizontalHeight: 30px;
$paddingLHorizontalWidth: 25px;
$paddingRightL: 30px;
$marginXL: 25px 7.5px;
$paddingLeftM: 15px;
$paddingLeftL: 30px;
$fieldHeight: 20px;
$fieldWidth: 185px;
$horizontalNavbarHeight: 45px;
$verticalNavbarWidth: 45px;
$maxButtonWidth: 400px;
$transition: 200ms ease-in-out;