@import "./colors";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$borderRadius: 5px;
$paddingM: 10px 15px;
$paddingL: 10px 30px;
$paddingS: 9px 15px;
$paddingSWithoutBorder: 9px 15px;
$fontSizeM: 15px;
$fontFamily: 'Nunito';
$marginM: 10px 5px;
$marginXL: 25px 7.5px;
$paddingLeftM: 15px;
$paddingLeftL: 30px;
$fieldHeight: 20px;

.lobster-component {
    font-family: $fontFamily, sans-serif;
    font-size: $fontSizeM;
}