@import "./colors";

$borderRadius: 5px;
$paddingM: 10px 30px;
$paddingS: 10px 15px;
$paddingSWithoutBorder: 9px 15px;
$fontSizeM: 15px;
$fontFamily: 'Nunito';
$marginM: 10px 5px 10px 5px;
$paddingLeftM: 30px;
$fieldHeight: 20px;